/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    /* common  */
    .c_font {
        font-size: 16px;
    }
    .common_p {
        padding: 30px 0;
    }
    /* menu  */
    .navbar-collapse {
        background: #0A2640;
        overflow: auto;
        border: medium none;
        left: 0;
        padding: 0;
        position: absolute;
        top: 80px;
        width: 100%;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-toggler {
        font-size: 15px;
        background: white;
    }
    .menu ul li a {
        padding: 10px 0 !important;
    }
    .btnh {
        margin-left: 0;
    }
    /* slider  */
    .owl-carousel {
        display: none;
    }
     /* banner  */
     .b_padding{
        padding-top: 70px;
    }
    .btn_b {
        margin-top: 15px;
        padding: 6px 27px;
        width: 167px;
        height: 50px;
        border-radius: 26px;
    }
    .btn_b2 {
        margin-top: 13px;
        margin-left: 0;
        padding: 5px 26px;
        width: 167px;
        height: 52px;
        border-radius: 26px;
    }
    .b_img{
        display: none;
    }
    .img_m {
        margin-top: 0;
    }
    .banner_h1 {
        font-size: 27px;
        line-height: 50px;
    }
    /* feature  */
    .feature {
        padding: 60px 0 75px;
    }
    .f_1 {
        margin-top: 40px;
        padding: 0;
        text-align: center;
    }
    .f_text {
        font-size: 22px;
        line-height: 36px;
        text-align: center;
    }
    .f_text2 {
        padding-right: 0;
        text-align: center;
      }
    .f_1 a {
        font-size: 16px;
    }
    .f_1 p{
        text-align: center !important;
    }
    /* about  */
    .about {
        padding: 0;
    }
    .about_m {
        margin: 65px 0 24px;
    }
    .a_h1 {
        font-size: 25px;
        line-height: 42px;
        text-align: center;
    }
    .a_img1{
        width: 60%;
    }
    .a_img2{
        width: 43%;
    }
    .a_img .a_img2 {
        bottom: -26%;
        right: 55px;
    }
    /* faq  */
    .faq{
        padding-top: 70px;
    }
    .faq_img {
        margin: 0 0 15px;
    }
    .acc_m{
        margin-top: 25px;
      }
    /* form  */
    .h_padding{
        padding: 10px 15px 0;
    }
    .f_btn {
        margin-left: 0;
      }
      .c_input {
        margin-left: 12px;
        width: 100%;
      }
      .c_form button{
        width: 100%;
        margin-left: 12px;
      }
      /* footer  */
      .footer_img{
        text-align: center;
      }
      .footer_p {
        padding: 15px 0;
        padding-right: 0;
      }
      .f_link {
        margin-top: 0;
      }
      .f_2{
        margin-top: 10px;
        text-align: center;
      }
      .footer_text{
        padding-top: 20px;
        text-align: center;
      }

      /* about.html start */
      /* banner  */
      .a_banner {
        padding: 0;
      }
      .c_column {
        padding: 0 7px;
      }
      .c_column img {
        border-radius: 9px;
      }
      /* story  */
      .s_padding {
        padding: 0;
      }
      /* team  */
      .t_img {
        padding: 25px 0;
      }
       /* about.html  */
      /* banner  */
      .a_banner {
        padding: 0;
    }
    .c_column img {
        margin-top: 17px;
        border-radius: 13px;
    }
      .s_padding {
        padding: 0;
    }
    .a_common{
        padding: 70px 0;
    }
    /* team  */
    .t_img {
        text-align: center;
    }
    .t_h2 {
        font-size: 22px;
        line-height: 40px;
    }
    /* value  */
    .value {
        padding: 70px 0;
    }
    /* numbers  */
    .count_h {
        padding-bottom: 0;
        font-size: 50px;
        line-height: 30px;
    }
    .counter1 p {
        font-size: 18px;
    }
    /* blog.html start  */
    /* header start  */
    .b_menu ul li a {
        color: #FFFFFF;
    }
    /* banner start  */
    .b_banner {
        padding: 145px 0 0;
    }
    .single_h a {
        font-size: 20px;
        line-height: 26px;
    }
    .blog_p {
        font-size: 16px;
        line-height: 25px;
    }
    /* slider start */
    #demo1 .customNavigation .btn.prev, #demo2 .customNavigation .btn.prev {
        display: none;
    }
    #demo1 .customNavigation .btn.next, #demo2 .customNavigation .btn.next {
        display: none;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    /* common  */
    .c_font {
        font-size: 18px;
    }
    .common_p{
        padding: 40px 0;
    }
    /* menu  */
    .navbar-collapse {
        background: #0A2640;
        overflow: auto;
        border: medium none;
        left: 0;
        padding: 0;
        position: absolute;
        top: 80px;
        width: 100%;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-toggler {
        background: white;
    }
    .menu ul li a {
        padding: 10px 0 !important;
    }
    .btnh {
        margin-left: 0;
    }
    /* banner  */
    .b_padding{
        padding-top: 70px;
    }
    .btn_b {
        margin-top: 15px;
        padding: 6px 27px;
        width: 167px;
        height: 50px;
        border-radius: 26px;
    }
    .btn_b2 {
        margin-top: 13px;
        margin-left: 10px;
        padding: 5px 26px;
        width: 167px;
        height: 52px;
        border-radius: 26px;
    }
    .img_m {
        margin-top: 0;
    }
    .banner_h1 {
        font-size: 37px;
        line-height: 50px;
    }
    /* feature  */
    .feature {
        padding: 60px 0 75px;
    }
    .f_1 {
        margin-top: 40px;
        padding: 0;
        text-align: center;
    }
    .f_text {
        font-size: 22px;
        line-height: 36px;
        text-align: center;
    }
    .f_text2 {
        padding-right: 0;
        text-align: center;
      }
    .f_1 a {
        font-size: 16px;
    }
    .f_1 p{
        text-align: center !important;
    }
    /* about  */
    .about {
        padding: 0;
    }
    .a_h1 {
        font-size: 27px;
        line-height: 42px;
    }
    .a_img1{
        width: 60%;
    }
    .a_img2{
        width: 36%;
    }
    .a_img .a_img2 {
        bottom: -15%;
        right: 121px;
    }
    /* faq  */
    .faq{
        padding: 75px 0 0;
    }
    .acc_m{
        margin-top: 25px;
      }
    /* form  */
    .h_padding{
        padding: 20px 15px 0;
    }
    .f_btn {
        margin-left: 0;
      }
      .c_input {
        margin-left: 12px;
        width: 100%;
      }
      .c_form button{
        width: 100%;
        margin-left: 12px;
      }
      /* footer  */
      .footer_img{
        text-align: center;
      }
      .footer_p {
        padding: 15px 0;
        padding-right: 0;
      }
      .f_link {
        margin-top: 0;
      }
      .f_2{
        text-align: center;
      }
      .footer_text{
        padding-top: 20px;
        text-align: center;
      }
       /* about.html  */
      /* banner  */
      .a_banner {
        padding: 0 68px;
    }
    .c_column img {
        border-radius: 18px;
    }
      .s_padding {
        padding: 0;
    }
    .a_common{
        padding: 70px 0;
    }
    /* team  */
    .t_img {
        text-align: center;
    }
    .t_h2 {
        font-size: 22px;
        line-height: 40px;
    }
    /* value  */
    .value {
        padding: 70px 0;
    }
    /* numbers  */
    .count_h {
        padding-bottom: 0;
        font-size: 50px;
        line-height: 30px;
    }
    .counter1 p {
        font-size: 18px;
    }
    /* blog.html start  */
    /* header start  */
    .b_menu ul li a {
        color: #FFFFFF;
    }
    /* banner start  */
    .b_banner {
        padding: 145px 0 40px;
    }
    .single_h a {
        font-size: 20px;
        line-height: 26px;
    }
    .blog_p {
        font-size: 16px;
        line-height: 25px;
    }
    /* slider start */
    #demo1 .customNavigation .btn.prev, #demo2 .customNavigation .btn.prev {
        display: none;
    }
    #demo1 .customNavigation .btn.next, #demo2 .customNavigation .btn.next {
        display: none;
    }
    
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    /* common  */
    .c_font {
        font-size: 18px;
    }
    .common_p{
        padding: 60px 0 75px;
    }
    /* menu  */
    .navbar-collapse {
        background: #0A2640;
        overflow: auto;
        border: medium none;
        left: 0;
        padding: 0;
        position: absolute;
        top: 80px;
        width: 100%;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-toggler {
        background: white;
    }
    .menu ul li a {
        padding: 10px 0 !important;
    }
    .btnh {
        margin-left: 0;
    }
    /* banner  */
    .b_padding{
        padding-top: 70px;
    }
    .img_m {
        margin-top: 0;
    }
    .banner_h1 {
        font-size: 37px;
        line-height: 50px;
    }
     /* feature  */
     .feature {
        padding: 60px 0 75px;
    }
    .f_1 {
        margin-top: 40px;
        padding: 0;
    }
    .f_text {
        font-size: 22px;
        line-height: 36px;
    }
    .f_1 a {
        font-size: 16px;
    }
    /* about  */
    .about {
        padding: 0;
    }
    .a_h1 {
        font-size: 30px;
        line-height: 42px;
    }
    .a_img1{
        width: 60%;
    }
    .a_img2{
        width: 36%;
    }
    .a_img .a_img2 {
        bottom: -11%;
        right: 164px;
    }
    /* faq  */
    .acc_m{
        margin-top: 25px;
      }
    /* form  */
    .h_padding{
        padding: 20px 70px 0;
    }
    .f_btn {
        margin-left: 0;
      }
      .c_input {
        width: 410px;
      }
      /* footer  */
      .footer_p {
        padding-top: 15px;
      }
      .footer_text{
        padding-top: 20px;
      }

      /* about.html  */
      /* banner  */
      .a_banner {
        padding: 0 129px;
    }
      .s_padding {
        padding: 0;
    }
    .a_common{
        padding: 70px 0;
    }
    /* team  */
    .t_img {
        text-align: center;
    }
    .t_h2 {
        font-size: 22px;
        line-height: 40px;
    }
    /* value  */
    .value {
        padding: 70px 0;
    }

    /* blog.html start  */
    /* header start  */
    .b_menu ul li a {
        color: #FFFFFF;
    }
    /* banner start  */
    .b_banner {
        padding: 145px 0 40px;
    }
    .single_h a {
        font-size: 20px;
        line-height: 26px;
    }
    .blog_p {
        font-size: 16px;
        line-height: 25px;
    }
    /* slider start */
    #demo1 .customNavigation .btn.prev, #demo2 .customNavigation .btn.prev {
        display: none;
    }
    #demo1 .customNavigation .btn.next, #demo2 .customNavigation .btn.next {
        display: none;
    }
    
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .f_1 {
        margin-top: 30px;
        padding: 25px 12px 30px;
    }
    .banner_h1 {
        font-size: 37px;
        line-height: 50px;
    }
    /* feature  */
    .feature {
        padding: 60px 0 75px;
    }
    .f_1 a {
        font-size: 18px;
    }
    .h_padding {
        padding: 40px 196px 0;
    }
    /* about  */
    .about {
        padding: 30px 0 60px;
    }
    .a_h1 {
        font-size: 30px;
        line-height: 42px;
    }
    .a_img1{
        width: 70%;
    }
    .a_img2{
        width: 46%;
    }
    .a_img .a_img2 {
        bottom: -20%;
        right: 75px;
      }
    /* form  */
    .c_input {
        width: 316px;
      }
      /* blog.html start  */
    /* banner start  */
    .b_banner {
        padding: 145px 0 40px;
    }
    .single_h a {
        font-size: 23px;
        line-height: 42px;
    }
    .blog_p {
        font-size: 18px;
        line-height: 28px;
    }
    /* slider start */
    #demo1 .customNavigation .btn.prev, #demo2 .customNavigation .btn.prev {
        display: none;
    }
    #demo1 .customNavigation .btn.next, #demo2 .customNavigation .btn.next {
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px){ 
   
}

/* Extra extra large devices (extra large desktops, 1400px and up)*/
@media (min-width:1400px) {
    /* feature  */
    .f_1 {
        padding: 25px 70px 30px;
    }
    /* about  */
    .a_img .a_img2 {
        right: 98px;
    }
    /* form  */
    .c_input {
        width: 576px;
      }
}